<div class="main1">
  <div style="width: 59%">
    <label class="headFont"> Population growth per country 1950 to 2021</label>
    <div style="display: flex">
      <span class="span1" style="font-weight: 800"> Region</span>
      <div class="regionMain" style="background-color: #1292ee"></div>
      <span class="span1"> Asia</span>
      <div class="regionMain" style="background-color: #e87800"></div>
      <span class="span1"> Europe</span>
      <div class="regionMain" style="background-color: #ff6283"></div>
      <span class="span1"> Africa</span>
      <div class="regionMain" style="background-color: #ffc502"></div>
      <span class="span1"> Americas</span>
    </div>
  </div>
  <div style="width: 70%">
    <canvas id="myChart"></canvas>
  </div>
  <div style="font-size: xx-large; font-weight: 600">{{ year }}</div>
</div>
